@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Hair.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Hair Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Thin Italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Light Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Book Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Bold Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Black Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/Heavy Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}