html {
    background-color: #F0F0F0;
    font-family: "Segoe UI";
    font-size: 12px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height:98%;
    overflow: hidden;
    -webkit-user-select: none;
}
input
{
    font-family: "Segoe UI";
    font-size: 12px;
    height:18px;
    background-color:transparent;
}
body
{
    margin-top:10px;
    margin-left: 10px;
    height: 100%;
}

button
{
    font-family: "Segoe UI";
    font-size: 12px;
}

.container
{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 5px;
}

#addressSearchSection
{
    float: left;
    height:calc(100% - 68px);
    width: 100%;
}

#markerInfoAndListCS
{
    float:right;
    width:710px;
    height:35px;
}

#buttonsRow
{
    float:left;
    width: 100%;
    height: 23px;
    margin-top:10px;
}

#addressLabel
{
    float: left;
    margin: 4px 0 0 0;
    width: 5em;
}

.textboxSearch
{
    float:left;
    margin: 0px;
    width: 83%;
    border: 1px #999 solid;
    background-color: rgba(255, 255, 255, 0.5);
}
.textboxcommon
{
    border: 1px #999 solid;
    padding: .19em .0em .18em .01em;
    border-radius: 3px;
    width:100px;
}

.textboxcommon input
{
    -webkit-appearance: none;
    outline: none;
    padding-top:0px;
    padding-bottom:0px;
    border: 0px;
    width: 94%;
    margin-left: 1px;
}

.buttonSearch
{
    float:right;
}

.panelStyle
{
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 0pt 1pt #D5DFE5;
}

#dropdownboxesSection
{
    float:left;
    width:100%;
    margin-top: 5px;
}

#termsContainer
{
    float:right;
    margin-bottom: 5px;
}

#markerInfo
{
    height: 24%;
    padding-top:12px;
    padding-bottom:12px;
    position: relative;
    clear:both;
}
#coordinateSystem
{
    float:left;
    height: 23px;
    width:510px;
}

#drawingUnitsSection
{
    clear:both;
    overflow:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.drawingUnitLabel
{
    float:left;
    width: 100px;
    line-height: 23px;
}
.drawingUnitList
{
    float:left;
    padding-top:2px;
}

.searchbar
{
    float:left;
    width:100%;
    height:23px;
    margin-bottom:3px;
}
.maparea
{
    float:left;
    width:100%;
    height: calc(100% - 26px);
    position: relative;
}

.spanright
{
    height: 100%;
    margin: 0 0 0 0px;
    z-index : 9;
}
.map
{
    top:0px;
    width: 100%;
    height: calc(100% - 37px);
    position:relative;
}
#map_section.offline
{
    background-color : #aaa;
}

#address{
    margin-bottom: 0px;
    width: 99%;
    outline: none;
    border: 0;
    margin-left:3px;
}
#address.offline
{
    color:#aaa;
}

#searchResultContainer{
    padding:0px;
    height: 100%;
    position:absolute;
    width:250px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#hidePanel {
    position:absolute;
    top:140px;
    left:250px;
    z-index: 10;
}
#expandPanel{
    position:absolute;
    top:140px;
    z-index: 10;
}
.expand-right{
    background: no-repeat url('../../../icon/right_expand.png');
    width: 19px;
    height: 57px;
    text-align: center;
    margin-top: 0px;
}
.collapse-left{
    background: no-repeat url('../../../icon/left_expand.png');
    width: 19px;
    height: 57px;
    top:140px;
}

.left_col_result_icon{
    float:left;
    width: 28px;
}

.right_col_result_info{
    float:right;
    width:205px;
    padding: 5px 0px 0 0;
}

.bullet_result {
    background: no-repeat url('../../../icon/macro_list.png');
    background-position: 4px 4px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    position: absolute;
    color:white;
}

.bullet_result:hover {
    background: no-repeat url('../../../icon/macro_list_hover.png');
    background-position: 4px 4px;
}

.bullet_result_hover{
    background: no-repeat url('../../../icon/macro_list_hover.png');
    background-position: 4px 4px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    position: absolute;
    color:white;
}

.result_row{
    height: auto;
}

.result_row.active{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #B6C9E6;
}

.result_row:hover{
    background-color: rgb(205, 216, 233);
}


.nav-header{
    margin-bottom: 20px;
}
.nav-list
{
    padding-left: 0px;
    margin-right: 5px;
}

.markerType{
    z-index: 1000;
    position: absolute;
}

/* Styles for Menu Items */
ul.pmenu {
    position:absolute;
    margin: 0;
    padding: 1px;
    list-style: none;
    border: 1px solid #ccc;
    background:white;
    display:none;
    z-index:10;
}

ul.pmenu li {position: relative;}

ul.pmenu li ul {
    position: absolute;
    left: 150px; /* Set 1px less than menu width */
    top: 0;
    display: none;
    z-index:10;
}
ul.pmenu li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px 10px 2px 10px;
}

ul.pmenu li a:hover {
    background:#335EA8;
    color:white;
}
ul.pmenu li a.parent {
    background:url('drop_down_triangle.gif') no-repeat 140px 4px;
}
ul.pmenu li a.parent:hover {
    background:#335EA8 url('drop_down_triangle_hover.gif') no-repeat 140px 4px;
}

/* IE \*/
* html ul.pmenu li { float: left; height: 1%; }
* html ul.pmenu li a { height: 1%; }
* html ul.pmenu li ul {left:147px;}
/* End */

ul.pmenu li:hover ul, ul.pmenu li.over ul { display: block; }
ul.pmenu li ul{left:150px;}

/*Bootstrap overwrite*/
.right_col_result_info > div > .btn{
    display: none;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}


#listCoordinateSystem
{
    width: 375px;
    height:21px;
}
#listDrawingUnits
{
    height:21px;
    width: 97px;
}

.displayNone
{
    display:none;
}

/*this is what we want the div to look like
when it is not showing*/
div.loading-invisible{
/*make invisible*/
display:none;
}

/*this is what we want the div to look like
when it IS showing*/
div.loading-visible
{
z-index: 1;
/*make visible*/
display:block;

/*position it 200px down the screen*/
position:absolute;
top:0px;
left:0;
width:100%;
height: 100%;
text-align:center;

/*in supporting browsers, make it
    a little transparent*/
background-color:#fff;
background-repeat: no-repeat;
background-position-x: center;
background-position-y: center;
background-image: url(../../../icon/ajax-loader.gif);
filter: alpha(opacity=75); /* internet explorer */
-khtml-opacity: 0.75;      /* khtml, old safari */
-moz-opacity: 0.75;       /* mozilla, netscape */
opacity: 0.75;           /* fx, safari, opera */
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
}

#buttonsRowContainer{
    float:right;
}

.rowButtons
{
    margin-right:0px;
    min-width: 80px;
    margin-top:0px;
}

.timeZoneRegion
{
    clear:both;
    overflow:auto;
    margin-top:10px;
}

.timeZoneLabel
{
    float: left;
    width: 100px;
    line-height: 23px;
}
.timeZoneValue
{
    float: left;
    width: 410px;
    height:21px;
    padding-top:2px;
}
#timeZone
{
    width: 100%;
    height:21px;
}
.coordinateSystemLabel
{
    float:left;
    margin-right:10px;
    line-height: 23px;
    width: auto;    
}

#coordinateSystemText
{
    font-weight: bold;
    line-height: 23px;    
}

.coordinateSystemList
{
    width: 375px;
    float:left;
    height:21px;
    padding-top:2px;
}


.btnIcon
{
    display: inline-block;
    border-radius: 6px;
    border: 1px solid #BBB;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: none;
    width: 21px;
    height: 20.4px;
    line-height: 20px;
    text-align: center;
}
.btnIcon:hover
{
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, rgb(180,216,251)),
    color-stop(0.79, rgb(252,252,252)));

}
.btnIcon:focus
{

    border-color: highlight;
}


.btnIcon img
{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: 3px;
}

.btnIcon.disabled,
.btnIcon[disabled]
{
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.btnPanthere
{
    float:left;
}
.btnPanthere img
{
    background-image: url('../../../icon/panto_geomarker_16.ico');
    float:center;
}
.btnPanthere.disabled img
.btnPanthere[disabled] img
{
    background-image: url('../../../icon/panto_geomarker_disable_16.ico');
}

#panThereTermsRow
{
    margin-top:5px;
    margin-bottom:10px;
    overflow:hidden
}

.btnPanMe
{
    width:28px;
    height:28px;
    border-radius:0px;
}
.btnPanMe img
{
    background-image: url('../../../icon/panto_geomarker_16.ico');
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    margin-top:0px;
}
.btnPanMe.disabled img
.btnPanMe[disabled] img
{
    background-image: url('../../../icon/panto_geomarker_disable_16.ico');
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    margin-top:0px;
}


#btnedit
{
    float:right;
}
#btneditok
{
    float:left;
    margin-right:5px;
}
#btneditok img
{
    margin-left:2px;
    margin-top:0.2em;
}
#btneditcancel img
{
    margin-top:0.2em;
    margin-left:1px;
}


#btneditcancel
{
    float:left;
}

#searchAddress
{
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 0px;
    display: inline-block;
    height:21px;
}

.latLabel
{
    line-height: 23px;
    margin-left: 0px;
    margin-right:10px;
    width:85px;
    text-align: right;

}

.latValue
{
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}
.longLabel
{
    line-height: 23px;
    margin-left: 20px;
    margin-right: 10px;
}
.longValue
{
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}
.elevationLabel
{
    line-height: 23px;
    margin-left: 20px;
    margin-right: 10px;
}
.elevationValue
{
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.metersLabel
{
    line-height: 23px;
    margin-left: 0px;
    margin-right: 0px;
}

.latLongElevDisabled
{
    border: 0px;
    background-color: transparent;
}

.refreshBtn
{
    float: left;
    width: 100px;
}

.offlineMsg
{
    position: relative;
    top: 38%;
    visibility: hidden;
    text-align: center;
}

.lineOneOffLine
{
    text-align: center;
    font-size: 14px;
    font-weight:bold;
}

.lineTwoOffLine
{
    margin-left:10%;
    margin-right:10%;
}

input.invalid {
  background: pink url(../../../icon/ico_validation.png) 80px 2px no-repeat;

}

#elevation.invalid
{
    background: pink url(../../../icon/ico_validation.png) 80px 2px no-repeat;
}

input:focus.invalid {
  background: white;
}

#elevation:focus.invalid
{
    background: white;
}

.accesskey
{
text-decoration:underline;
}

div.textboxSearch div.watermarkfield
{
    float:left;
    width:100%;
}

div.watermarkfield
{
     position: relative;
}

label
{
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: -1;
}

.dropdownbox
{
    width:35;
    font-size:12px;
}

.alignMiddle
{
    position:absolute;
    top: 50%;
    width: 100%;
}

.innerMiddle
{
    margin-top: -12px;
    position: relative;
    width: 100%;
    text-align: center;
}

.innerMiddleChild
{
    display: inline-block;
}

#csLeftSection
{
    width: 200px;
    display: block;
    position:absolute;
}

#csRightSection
{
    margin-left:200px;
    height: 100%;
}

#csInstructions
{
    margin-top: 30px;
    margin-right: 15px;
    color: grey;
}

#csInstructions1
{

}

#csInstructions2
{
    margin-top: 1em;
    clear:both;
}

#csInstructions3
{

}

#globeImage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#csRightSectionInner
{
    width: 100%;
    height: 100%;
    float:center;
}

#csLabelGIS
{
    
}

#csCoordSearchTextBox
{
    width: 180px;
    float:right;
    clear: both;
    border: 1px #999 solid;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 3px;
}

#csCoordSearchTextBox input
{
    width: 13em;
}

#csCoordSearchTextBox img
{
    position: absolute;
    right: 1px;
    bottom: 2px;
}

#csSearch{
    margin-bottom: 0px;
    width: 99%;
    outline: none;
    border: 0;
    margin-left:3px;
}

#csTableHeaderDiv
{
    border:1px solid;
    clear:both;
    background-color: white;
}

#csTableHeaderDiv table
{
    width: calc(100% - 12px);
    height:10px;
    border-collapse:separate;
    border-spacing: 0px;
}

#csTableHeaderDiv table thead
{
    background-color: white;
}

#csTableHeaderDiv table thead tr th
{
    height: 20px;
    text-align: center;
    border-right: 1px solid silver;
}

#csTableHeaderDiv table thead th:hover
{
    background-image: -webkit-gradient(
                                linear,
                                left bottom,
                                left top,
                                color-stop(0.16, rgb(168,211,255)),
                                color-stop(0.79, rgb(252,252,252)));
    cursor:pointer;
}

#csTableDiv
{
    height: calc(100% - 159px);
    overflow-y:auto;
    border:1px solid;
    background-color: white;
}

#csTableDiv table
{
    cellspacing:1;
    width:100%;
    border-collapse:collapse ;
    background-color: white;
}

#csTableDiv table tbody tr:hover
{
    background-image: -webkit-gradient(
                                linear,
                                left bottom,
                                left top,
                                color-stop(0.16, rgb(168,211,255)),
                                color-stop(0.79, rgb(252,252,252)));
    cursor: pointer;
}

#csTableHeaderDiv table thead tr th span
{  
    width: 6px;
    height: 6px;
    margin-left: 8px;
    margin-bottom: 1px;
    display: inline-block;
    background-size: contain;
}

.csHeaderSortUp
{
    background: no-repeat url('../../../icon/sort_up.png');   
}

.csHeaderSortDown
{
    background: no-repeat url('../../../icon/sort_down.png');   
}

.csColumnName
{
    width:35%;
}

.csColumnReference
{
    width:25%;
}

.csColumnUnit
{
    width:20%;
}

.csColumnEPSG
{
    width:20%;
}

#useMapsButton
{
    margin-top:20px;
}

#csTableDiv table tbody tr td
{
    padding-left:10px;
}

.tableRowSelected
{
    background-image: -webkit-gradient(
                            linear,
                            left bottom,
                            left top,
                            color-stop(0.16, rgb(70,163,255)),
                            color-stop(0.79, rgb(252,252,252)));
}

#coordSysSection
{
    height: calc(100% - 33px);
}